streamlit
langchain
langchain-core
langchain-openai
langchain-text-splitters
chromadb
dashscope
numpy
pydantic
tiktoken
python-dotenv
python-multipart
aiohttp
requests
urllib3
pycryptodome
pillow
tqdm
pypdf
anyio
loguru
